html {
    height: 100%;
  }

body{
  margin: 0px 0px;
  color: #404040;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
  
.topnav a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.topnav img {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 2px 10px;
  width: 10%;
  height: 10%;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

input[type=text] {
  margin: 0 auto;
  color: rgb(87,34,15);
  float: left;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.7em;
  color: rgb(51);
  width: 50vw;
  border: none;
  border-bottom: 2px solid rgb(87,34,15);
  -webkit-transition: width 2s;
  transition: width 2s;
  padding: 4px 4px;
}
input[type=text]:hover ,input[type=text]:focus {
  width: 80vw;
  outline: none;
}

.Content{
  display: flex;
  flex-wrap: wrap;
}


.Card{
  margin: 40px;
  border: 1px solid #ccc;
  background-color: rgb(87,34,15);
  float: left;
  width: 50vh;
  border-radius: 10px;
  transition: width 0.6s;
}

.Card img{
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.Card:hover{
  border: 1px solid #777;
  width: 60vh
}
.Card p{
  font-family: 'Charmonman', cursive;
  font-size: 1.7em;
  color: white;
  padding: 3px;
  text-align: center;
}