node_modules/*

.vs/*

Encryption/*

.vscode/**

.VSCodeCounter/**

node_modules/
.vscode/settings.json
.VSCodeCounter/results.csv
.VSCodeCounter/results.md
.VSCodeCounter/results.txt
.vscode/settings.json
.VSCodeCounter/results.csv
.VSCodeCounter/results.md
.VSCodeCounter/results.txt
.vscode/settings.json
.VSCodeCounter/results.csv
.VSCodeCounter/results.md
.VSCodeCounter/results.txt
