<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/account_style.css">
    <title>RCG - Account</title>
  </head>
  <body>
    <div class="topnav">
      <img src="Logo.png" alt="logo">
      <input type="text" id="search" name="Search" placeholder="Search for food and way more !">
      <a style="float:right">Contributions</a>
      <a href="/Account" style="float:right">Account</a>
    </div>
    
    <div class="content">
        <p id="AccountName">Malau</p>
        
    </div>

  </body>
</html>
