<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <script src="js/client_login.js" type="text/javascript"></script>
    <title>RCG - Login</title>
  </head>
  <body>
    <div class="LoginDiv">
        <p>Login on existing account</p>
          <label id="Emaill"for="email">E-Mail</label>
          <input type="text" id="email" name="email" placeholder="Your E-Mail..">
        
          <label id="Passwordl" for="lpassword">Password</label>
          <input type="text" id="lpassword" name="password" placeholder="Your secret password..">
          
          <input type="submit" value="Login" id="RegisterButton">
          <a href="/Signup">Don't have an account ? Register here.</a>
        </div>

  </body>
</html>
