<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <script src="js/client_register.js" type="text/javascript"></script>
    <title>RCG - Sign Up</title>
  </head>
  <body>
    <div class="LoginDiv">
        <p>Create an account</p>
          <label id="Namel" for="fname">Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
          <label id="Emaill"for="email">E-Mail</label>
          <input type="text" id="email" name="email" placeholder="Your E-Mail..">
        
          <label id="Passwordl" for="lpassword">Password</label>
          <input type="text" id="lpassword" name="password" placeholder="Your secret password..">
          
          <input type="submit" value="Sign up" id="RegisterButton">
          <a href="/Login">Already have an account ? Login here.</a>
        </div>

  </body>
</html>
