.content { 
    height: auto;
    margin: 1% 15%;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#AccountName{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: black;

    margin: 20px;
}