.content{
    height: auto;
    margin: 1% 15%;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#contribText{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
    padding: 20px;
    margin: 20px 5px;
    margin-bottom: 5px;
}

.contrib{
    height: auto;
    padding: 0px 20px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 2px;
    border-color: grey;
}