.LoginDiv {
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px;
    overflow-wrap: hidden;
    box-sizing:border-box;
}

input[type=text] {
    width: 100%;
    color: rgb(87, 34, 15);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: rgb(51);
    border: none;
    border-bottom: 2px solid rgb(87, 34, 15);
    padding: 12px 10px;
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
    transition: border-bottom 1s;
}

input[type=text]:hover,
input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid rgb(78, 165, 28);
}

input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 25%;
    background-color: rgb(102, 214, 37);
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type=submit]:hover{
    background-color: rgb(107, 224, 40);
}

label {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 1.1em;
    display: inline-block;
    box-sizing:border-box;
    margin: 20px 20px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    color: grey;
}

a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-left: 20px;
}