html {
    height: 100%;
}

body {
    margin: 0px 0px;
    color: #404040;
}

* {
    box-sizing: border-box;
}

.topnav {
    background-color: white;
    margin: 0px 0px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-color: #404040;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



.topnavLink {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}

.topnav img {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 2px 10px;
    height: 8%;
    width: 8%;
}

.topnavLink:hover {
    color: black;
    border: none;
    border-bottom: 2px solid rgb(0, 92, 153);
}

.TopnavTitle {
    margin: 5px;
    font-family: 'Akronim', cursive;
    font-size: 4vh;
}

.FoodSearch {
    margin: 0 auto;
    color: rgb(87, 34, 15);
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.3em;
    color: rgb(51);
    width: 50vw;
    border: none;
    border-bottom: 2px solid rgb(87, 34, 15);
    -webkit-transition: width 2s;
    transition: width 2s;
    padding: 4px 4px;
}

.FoodSearch:hover,
.FoodSearch:focus {
    width: 80vw;
    outline: none;
}

/* @media screen and (max-width: 1000px) {
    .topnav{
        flex-direction: column;
    }
    
    .topnav a {
        float:none;
        font-size:4em;
        width:100%;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    input[type=text]{
        float:none;
        font-size: 4em;
        width:100%;
    }

} */

.Content {
    display: flex;
    flex-wrap: wrap;

    line-height: 0;
    padding: 2px 25%;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}


.Card {
    margin: 40px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    background-color: rgb(87, 34, 15);
    float: left;
    height: auto;
    width: 20vh;
    border-radius: 10px;
    transition: width 0.6s, height 0.7s;
}

.Card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.Card:hover {
    border: 1px solid #777;
    height: 100%;
    width: 25vh;
}

.Card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    color: white;
    padding: 3px;
    text-align: center;
}

.desc {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.Card:hover .desc {
    display: block;
}

.AccountContent {
    height: auto;
    margin: 1% 15%;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#AccountName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: black;

    margin: 20px;
}

#AccountMail {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: italic;
    font-size: 1.3em;
    color: black;

    margin: 20px;
}

.LoginDiv {
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px;
    overflow-wrap: hidden;
    box-sizing: border-box;
}

.LoginFields {
    width: 100%;
    color: rgb(87, 34, 15);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: rgb(51);
    border: none;
    border-bottom: 2px solid rgb(87, 34, 15);
    padding: 12px 10px;
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
    transition: border-bottom 1s;
}

.LoginFields:hover,
.LoginFields:focus {
    outline: none;
    border-bottom: 3px solid rgb(78, 165, 28);
}

.LoginButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 25%;
    background-color: rgb(102, 214, 37);
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.LoginButton:hover {
    background-color: rgb(107, 224, 40);
}

.LoginLabel {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 1.1em;
    display: inline-block;
    box-sizing: border-box;
    margin: 20px 20px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.LoginTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    color: grey;
}

.LoginLink {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-left: 20px;
}

.FoodDetailName {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-left: 20px;
}

.ContribTitle {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    text-align: center;
}

.CreateContent {

    padding: 20px;
    display: flex;
    flex-direction: column;
}

.CreateElement {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

.SpanError {
    font-family: 'Open Sans', sans-serif;
    color: red;

}

.UploadMeal {
    font-family: 'Open Sans', sans-serif;

}

/* Style The Dropdown Button */
.dropbtn {
    color: grey;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content Link:hover {
    background-color: #ffffff88
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgb(0, 0, 0)
}