html {
    height: 100%;
}

body {
    margin: 0px 0px;
    color: #614A41;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-align: inherit;
    color: inherit;
    background: transparent;
}

.topnav {
    z-index: 2;
    background-color: white;
    margin: 0px 0px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    border-bottom-color: #614A41;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 16px;
}



.topnavLink {
    display: block;
    color: #614A41;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}


.topnavLink:hover {
    color: black;
    border: none;
    border-bottom: 2px solid #FA672A;
}

.TopnavTitle {
    margin: 5px;
    font-family: 'Akronim', cursive;
    font-size: 4vh;
}

.FoodSearch {
    margin: 0 40px;
    font-size: 16px;
    color: grey;
    text-align: center;
    color: rgb(51);
    width: 50vw;
    flex: 1;
    border: none;
    border-bottom: 2px solid rgb(87, 34, 15);
    -webkit-transition: border-color 2s;
    transition: border-color 2s;
    padding: 4px 4px;
}

.FoodSearch:hover,
.FoodSearch:focus {
    outline: none;
    border-color: #6BCE6B;
}

.ConboRow {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    justify-content: flex-start;
}

.FoodContainer {
    padding: 0px 15%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
}

.Spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ConboRow img {
    margin: 10px;
    width: auto;
    height: 3.5vw;
}

.AccountContent input[type=text],
.AccountContent input[type=number],
.AccountContent textarea {
    border: 1px solid grey;
}

/* Style The Dropdown Button */
.dropbtn {
    font-size: 16px;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-family: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content Link:hover {
    background-color: #00AD96;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgb(0, 0, 0)
}


@media screen and (max-width: 1000px) {



    .topnav {
        flex-direction: column;
    }

    .topnav * {
        font-size: 3vw;
    }

    .topnav a,
    .topnav p,
    .topnav button {
        float: none;
        text-align: center;
    }

    .topnav button {
        font-size: 3vw;
    }

    .FoodSearch {
        text-align: left;
        float: left;
        width: 100%;
        height: 100%;
        transition: none;
        margin: 20px;
        padding: 5px;
        border: 2px solid rgb(87, 34, 15);
        border-radius: 10px;
    }

    .TopnavTitle {
        text-align: left;
        float: left;
        width: auto;
        font-size: 4vw;
        margin: 20px 20px;

    }

    .FoodSearch:hover,
    .FoodSearch:focus {
        width: 100%;
    }

    .ConboRow {
        float: none;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .AccountContent {
        margin: 20px;
    }




}

@media screen and (max-width: 600px) {
    .ConboRow {
        flex-direction: column;
    }

    .FoodSearch {
        float: none;
    }
}


.Content {
    display: flex;
    flex-wrap: wrap;

    line-height: 0;
    padding: 2px 25%;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}


.Card {
    position: relative;
    z-index: 1;
    margin: 40px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    background-color: white;
    float: left;
    height: auto;
    width: 490px;
    border-radius: 10px;
    transition: width 0.1s, height 0.1s;
}

.Card img {
    float: left;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.Card:hover {
    border: 1px solid #777;
    width: 500px;
    overflow: hidden;
}



.Card p {
    float: left;
    font-size: 20px;
    color: #00AD96;
    padding: 3px;
    text-align: center;
    margin: 10px;
}

.CardRCG {
    position: absolute;
    left: 20px;
    background: rgba(255, 255, 255, 0.603);
    border: 2px solid grey;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.CardRCG p {
    margin: 20px;
    font-weight: bold;
}

.desc {
    display: none;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.Card:hover .desc {
    display: block;
}

.AccountContent {
    height: auto;
    margin: 1% 15%;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#AccountName {
    font-weight: bold;
    font-size: 1.5em;

    margin: 20px;
}

#AccountMail {
    font-weight: italic;
    font-size: 1.3em;

    margin: 20px;
}

.LoginDiv {
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px;
    overflow-wrap: hidden;
    box-sizing: border-box;
}

.LoginFields {
    width: 100%;
    color: rgb(87, 34, 15);
    font-size: 1.2em;
    color: rgb(51);
    border: none;
    border-bottom: 2px solid #614A41;
    padding: 12px 10px;
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
    transition: border-bottom 1s;
}

.LoginFields:hover,
.LoginFields:focus {
    outline: none;
    border-bottom: 3px solid rgb(78, 165, 28);
}

.LoginButton {
    font-size: 1.2em;
    width: 25%;
    background-color: #4285F4;
    color: #eee;
    padding: 14px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.LoginButton:hover {
    background-color: rgb(105, 158, 243);
}

.LoginLabel {
    font-size: 1.1em;
    display: inline-block;
    box-sizing: border-box;
    margin: 20px 0px;
    font-weight: 500;
}

.AccountContent input,
.AccountContent button,
.AccountContent textarea {
    margin-left: 10px;
}

.LoginTitle {
    font-size: 2em;
    text-align: center;
}

.LoginLink {
    font-size: 1em;
    margin-left: 20px;
}

.FoodDetailName {
    font-size: 1em;
    margin-left: 20px;
}

.ContribTitle {
    font-size: 2em;
    text-align: center;
}

.CreateContent {

    padding: 20px;
    display: flex;
    flex-direction: column;
}

.CreateElement {
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

.SpanError {
    color: #C73636;

}

.UploadMeal {}



.AppendMealStep {
    font-size: 0.9em;
    width: 25%;
    background-color: white;
    padding: 5px 8px;
    margin: 5px 0;
    margin-bottom: 20px;
    border: 1px solid #00AD96;
    border-radius: 4px;
    cursor: pointer;
}

.AppendMealStep:hover {
    border: 2px solid grey;
}

.RecipeStep {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
}

.RecipeStep p {
    color: grey;
    margin: 5px;
    text-align: justify;
}

.MealStep {}

.vl {
    border-left: 2px solid #f2f2f2;
    margin: 0px 10px;
}

.FoodPageName {
    font-size: 2.5em;
    text-align: center;

}

.RCGCounter {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    display: flex;
    height: 36px;
    width: 130px;
    padding: 0px 10px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

.RCGCounter p {
    font-size: 1.5em;
    color: #dd7317;
}

.RCGCounter button {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    margin: 2px 4px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.RCGCounter button:hover {
    background-color: #ccc;
}

.RCGCounter button span {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    color: grey;
    font-size: 2em;
    margin: auto auto;
}

.RCGCounter button span:hover {
    color: #FA672A;
}


.ImageFood {
    margin: 10px;
    max-width: 30vw;
    object-fit: scale-down;
    object-position: 0px 0px;
    height: auto;
    border-radius: 8px 8px;
    margin: 30px 0px;
}

.FoodLabel {
    font-size: 1.1em;
}

.FoodPage {}

#Footer {
    clear: both;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
    border-top: 1px solid whitesmoke;
    padding: 30px;
    height: auto;
    overflow: auto
}

#Footer p {
    margin: 8px;
}

.Wrapper {
    min-height: 85vh;
    height: auto !important;
    height: 90%;
    overflow: hidden;
}

#ReactFoodContainer {
    display: inline;
}